@import "tailwindcss";

@font-face {
  font-family: "DK Face Your Fears";
  src: url("/fonts/DKFaceYourFears.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freestyle Script";
  src: url("/fonts/FREESCPT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

main {
  backdrop-filter: none;
}
